header{
    height: 450px;
}
.boutons_haut{
    height: 50px;
    width: 14rem;
    display: flex;
    justify-content: space-between;
}
.hebergement{
    display: flex;
    flex-direction: column;
    color: #0065FC;
}
.activites:hover{
    color: #0065FC;
}
.Rectangle{
    position: absolute;
    bottom: 494px;
    right: 9em;
}
.Filtres{
    height: 120px;
    width: 55rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons_familliale{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 3rem;
    border: 3px;
    border-color: lightgray;
    height: 3rem;
    width: 7.5rem;
}
.button_economique{
    justify-content: space-around;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 3px;
    border-color: lightgray;
    height: 3rem;
    width: 9.5rem;
}
.buttons_romantique{
    justify-content: space-around;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 3px;
    border-color: lightgray;
    height: 3rem;
    width: 9.5rem;
}
.buttons_animaux{
    justify-content: space-around;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 3px;
    border-color: lightgray;
    height: 3rem;
    width: 12.5rem;
}
.ilogement{
    height: 45px;
    width: 25rem;
    display: flex;
    align-items: center;

}
.i{
    justify-content: space-around;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    border: 3px;
    border-color: lightgray;
    width: 1.5rem;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
}
main{
    height: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section{
    height: 600px;
    width: 58%;
    padding: 2.5rem;    
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 1rem;
}
.tete_haut{
    height: 23%;
    width: 100%;
    padding: 0;
    background-color: white;
}
.petite_section{
    width: 25%;
}
article{
    width: 246px;
    height: 13.5rem;
    margin: 2px;
    padding: 3px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.populaire{
    width: 343px;
    height: 144px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.etoile{
    margin: 0.5rem;
}
@media only screen and (min-width : 750px) and (max-width : 960px){
    main{
        background-color: green;
        height: 1900px;
    }
    section{
        height: 1800px;
        display: flex;
        flex-direction: column;
    }
    article{
        width: 88.5%;
    }

}
@media only screen and (min-width : 580px) and (max-width : 749px){
    main{
        background-color: blue;
    }
}
@media only screen and (min-width : 320px) and (max-width : 580px) {
    main{
        background-color: red;
    }
}
h1{
    width: 100%;
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 17px;
    margin: 0.5rem;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: 17px;
    font-weight: 300;
    margin: 1rem;
    margin-left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    font-size: 28px;
    font-weight: bold;
    margin: 2rem;
    margin-left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    margin: 0.5rem;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    display: flex;
    align-items: center;
}
input{
    height: 2.8rem;
    width: 12rem;
    border-radius: 0;
    border-width: 1px;
    border-color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.zone_texte_photo{
    width: 100%;
    height: 45%;
    background-color: white;
    border-radius: 2rem;
}
.zone_texte_photo2{
    width: 60%;
    height: 70%;
}
.logo{
    width: 85px;
    height: 40px;
}
.gps{
    object-fit: scale-down;
    width: 3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; 
    background-color: lightgray;
}
.recherche{
    width: 8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(85, 121, 176); 
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}